@import "tailwindcss";

@import "slick-carousel/slick/slick.css";

@import "slick-carousel/slick/slick-theme.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-custom-blue: #ffffff; 
}

/* Table css */
.admin_table {
    text-align: center;
}

/* font style */
body {
  font-style: italic;
}
